@import "../../scss/colors.scss";

.hero {
  padding-top: 55px;
  padding-bottom: 60px;
  box-sizing: border-box;
  //height: calc(100vh - 250px);
  //min-height: 700px;
  overflow: hidden;

  @media screen and (max-width: 1025px) {
    padding-top: 45px;
    padding-bottom: 55px;
  }
  @media screen and (max-width: 769px) {
    max-width: 100%;
    padding-top: 25px;
    padding-bottom: 0;
  }

  & .cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__title {
    position: relative;
    z-index: 2;
  }

  &__text {
    max-width: 630px;
    position: relative;
    z-index: 2;
    margin-bottom: 240px;

    @media screen and (max-width: 1199px) {
      max-width: 500px;
      margin-bottom: 70px;
    }
    @media screen and (max-width: 1025px) {
      max-width: 380px;
    }
    @media screen and (max-width: 769px) {
      max-width: 100%;
      margin-bottom: 40px;
    }
  }

  &__img {
    position: absolute;
    bottom: -70px;
    right: 200px;
    z-index: 1;
    display: flex;

    max-width: 571px;
    width: 100%;
    height: auto;

    @media screen and (max-width: 1500px) {
      right: 0;
      width: 40vw;
    }
    @media screen and (max-width: 769px) {
      position: unset;
      max-width: 450px;
      width: 100%;
      margin: 0 auto;
    }
    @media screen and (max-width: 577px) {
      max-width: 323px;
    }

    & img {
      width: 100%;

      @media screen and (max-width: 769px) {
        margin-left: -30px;
      }
      @media screen and (max-width: 577px) {
        margin-left: -25px;
      }
    }
  }

  &__video {
    position: absolute;
    top: 0;
    right: -80px;
    display: flex;

    @media screen and (max-width: 1920px) {
      right: -30px;
    }
    @media screen and (max-width: 1199px) {
      position: unset;
      margin-bottom: 115px;
    }
    @media screen and (max-width: 1025px) {
      max-width: 160px;
    }
    @media screen and (max-width: 769px) {
      display: none;
    }

    & img {
      width: 100%;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    margin-top: auto;
    margin-bottom: 0;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 769px) {
      display: none;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    column-gap: 80px;

    @media screen and (max-width: 1025px) {
      column-gap: 40px;
    }

    &__item {
      display: flex;
      align-items: center;
      column-gap: 15px;

      color: $white;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;

      & span {
        &:nth-child(1) {
          font-size: 56px;

          @media screen and (max-width: 1025px) {
            font-size: 32px;
          }
        }

        &:nth-child(2) {
          font-size: 20px;

          @media screen and (max-width: 1025px) {
            font-size: 16px;
          }
        }
      }
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    column-gap: 20px;

    color: $white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    text-decoration: none;

    @media screen and (max-width: 1025px) {
      display: none;
    }
  }

  @media screen and (max-width: 769px) {

  }
}
