@import "../../scss/colors.scss";

.cases {
  padding-top: 100px;
  padding-bottom: 25px;

  @media screen and (max-width: 1025px) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 6px;
    padding-top: 70px;
  }
  @media screen and (max-width: 769px) {
    padding-bottom: 15px;
    padding-top: 35px;
  }

  &__title {
    margin-bottom: 80px;

    @media screen and (max-width: 1025px) {
      margin-bottom: 60px;
      padding: 0 30px;
      box-sizing: border-box;
    }
    @media screen and (max-width: 769px) {
      margin-bottom: 30px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 18px;
    margin-bottom: 60px;

    @media screen and (max-width: 1025px) {
      grid-gap: 5px;
      margin-bottom: 40px;
    }
    @media screen and (max-width: 769px) {
      display: flex;
      flex-direction: column;
      grid-gap: 0;
      row-gap: 10px;
    }
  }

  &__item {
    width: 100%;
    display: flex;
    height: 33.33vw;
    max-height: 560px;

    @media screen and (max-width: 769px) {
      height: calc(100vw - 60px);
      max-height: 400px;
    }

    &.col {
      &-1 {
        grid-column: span 1;
      }

      &-2 {
        grid-column: span 2;
      }
    }
  }

  &-item {
    position: relative;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
    padding-top: 48px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 54px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.2s;

    @media screen and (max-width: 1500px) {
      padding-top: 32px;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 32px;
    }
    @media screen and (max-width: 1025px) {
      padding: 27px 20px;
    }

    &--purple {
      background: linear-gradient(100deg, #554CAB 3.75%, #726AC4 35.33%, #C49AEE 73.68%, #E29AEE 100%);
    }

    &--red {
      background: #DF4237;
    }

    &--transparent {
      background: transparent;
    }

    &--blue {
      background: #5C74E8;
    }

    &--brown {
      background: linear-gradient(135deg, #3B2F26 0%, #47301F 0.01%, rgba(217, 130, 66, 0.41) 105.63%);
    }

    &:hover {
      padding-bottom: 40px;

      @media screen and (max-width: 1500px) {
        padding-bottom: 25px;
      }

      @media screen and (max-width: 1025px) {
        padding-bottom: 20px;
      }

      & .cases-item__img {
        transform: scale(1.05);
      }

    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: .3s;
      z-index: 1;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media screen and (max-width: 769px) {
          object-position: right center;
        }
      }
    }

    &__title {
      position: relative;
      z-index: 2;
      color: $white;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 125%;

      @media screen and (max-width: 1500px) {
        font-size: 26px;
      }
      @media screen and (max-width: 1025px) {
        font-size: 22px;
      }
      @media screen and (max-width: 890px) {
        font-size: 20px;
      }
      @media screen and (max-width: 825px) {
        font-size: 18px;
      }
    }

    &__subtitle {
      position: relative;
      z-index: 2;
      color: $white;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 166%;
      margin-top: auto;
      margin-bottom: 0;

      @media screen and (max-width: 1500px) {
        font-size: 22px;
      }
      @media screen and (max-width: 1025px) {
        font-size: 18px;
      }
      @media screen and (max-width: 825px) {
        font-size: 16px;
      }
    }
  }
}
