@import "../../scss/colors.scss";

.footer {
  background: #1F1F1F;
  padding: 146px 80px;

  @media screen and (max-width: 1025px) {
    padding: 85px 30px;
  }
  @media screen and (max-width: 769px) {
    padding: 40px 15px;
  }

  &__logo {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 769px) {
      justify-content: space-between;
      column-gap: 30px;
      align-items: center;
    }
  }

  &__copy {
    display: none;

    color: #7E7E7E;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (max-width: 769px) {
      display: flex;
    }
  }


}
