@import "../../scss/colors";

.section-title {
  color: $white;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 128%;
  width: 100%;
  margin: 0;

  @media screen and (max-width: 1441px) {
    font-size: 52px;
  }
  @media screen and (max-width: 1025px) {
    font-size: 48px;
  }
  @media screen and (max-width: 769px) {
    font-size: 32px;
  }
  @media screen and (max-width: 340px) {
    font-size: 30px;
  }
}
