@import "../../scss/colors.scss";

.swiper-arrow {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid $white;
  padding: 5px;

  @media screen and (max-width: 1025px) {
    width: 40px;
    height: 40px;
  }

  &.swiper-button-disabled{
    cursor: not-allowed;
  }
}
