@import "./colors";

.btn {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 100px;

  font-family: Exo 2;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  transition: 0.3s;
  white-space: nowrap;
  position: relative;

  &:focus {
    outline: none;
  }

  &--green {
    background: $green;
    color: #121215;

    &:hover{
      background: lighten($green, 10%);
    }
  }
}
